---
# Only the main Sass file needs front matter (the dashes are enough)
---

//http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project #51
// $color-one: #2B2301; // dark olive green // headings
// $color-two: #E2D893; // light beige // actual background
// $color-three: #A79E65; // light brown // 
// $color-four: #72AEB5; // light blue // 
// $color-five: #5E9CA0; // medium blue // 

// $color-one: #125E8A; // dark blue
// $color-two: #C2B8B2; // light beige
// $color-three: #8A716A; // light brown
// $color-four: #7FFFBF; // light green
// $color-five: #007FCA; // medium blue

// color one : headings;
// two: actual background
// three: page background
// four: accent one
// five: accent two

$color-one: midnightblue;
$color-two: white;
$color-three: white;
$color-four: white;
$color-five: white;

$text-color: black;

body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $color-three;
}

header {
  background-color: $color-three;
  width: 100%;
}

footer {
  background-color: $color-three;
  text-align: center;
  /*height: 100px;*/
  width: 100%;
  img {
    width: 10%;
    margin: 10px;
  }
}

table {
  margin:0 auto;
}

main {
  padding: 1em;
  margin-bottom: 50px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $color-two;
}

h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  a {
    color: $color-one;
  }
}

h2 {
  color: $color-one;
  text-align: center;
}

h3 {
  color: $color-one;
  font-weight: heavy;
  font-size: 2em;
}

// .custom-navbar {
//   background-color: $color-five;
//   a {
//     color: $text-color;
//   }
// }

main p {
  font-size: 1.5em;
}

ol li {
  font-size: 1em;
}

ul li {
  font-size: 1.5em;
}

th,td {
	font-size: 1.25em;
}

img {
  width: 100%;
  padding-bottom: 1em;
}

.post {
  p {
    text-indent: 1em;
  }
  ol li, ul li {
    font-size: 1.5em;
  }
}