body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
}

footer img {
  width: 10%;
  margin: 10px;
}

table {
  margin:0 auto;
}

main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

p {
  /*text-indent: 1em;*/
}

h1 {
  text-align: center;
  color: midnightblue;
  /*font-size: 3em;*/
}

h2 {
  color: midnightblue;
}

main p, li {
  font-size: 1.25em;
}
th,td {
	font-size: 1.25em;
}
footer {
	text-align: center;
    height: 100px;
    width: 100%;
}
img {
  width: 100%;
}