<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="row">
      <div class="col-xs-1 col-lg-2 col-xs-height">
        <div class="inside inside-full-height sidebar"></div>
      </div>
      <div class="col-xs-10 col-lg-8 page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      <div class="col-xs-1 col-lg-2 sidebar "></div>
    </div>

    {% include footer.html %}

  </body>

</html>

<!--     <div class="col-xs-12 col-sm-6 col-sm-height">
      <div class="inside inside-full-height">
        <div class="content"><br><br><br><br><br><br><br></div>
      </div>
    </div> -->
